@page "/forgot/password"
@attribute [AllowAnonymous]
@inject IAuthenticationService _authService

<div class="" style="display:flex;height: 100vh; overflow: hidden; background: url('/images/backgrounds/login_background_temp.jpg'); background-size: cover;">
    <div class="" style="width:100%;">
        <div class="container" style="height:100%">
            <div class="row align-items-center" style="height:100%">
                <div class="col-12 py-3">
                    <div class="" style="padding: 0; overflow: hidden; border-radius: 8px !important;">
                        <div class="container-fluid" style="padding:0px; !important">
                            <div class="row">
                                <div class="col-12 col-md-6 p-5 position-relative align-items-center flex-column" style="display: flex; background-color: #147ebb">
                                    <img src="/images/pust_logo.png" style="object-fit: contain; width: 180px;" />
                                    <h2 style="color:white;font-size:38px;" class=" mt-3 mt-md-3 pt-0 pt-md-4 mb-4 d-none d-sm-block">Welcome!</h2>
                                </div>
                                <div class="col-12 col-md-6 p-5" style="background-color:ghostwhite">
                                    <h5 class="mb-4">Forgot Password</h5>
                                    <section>
                                        <EditForm Model="@_forgotPassword" OnValidSubmit="Submit">
                                            <DataAnnotationsValidator />
                                            <MudTextField Class="pb-4" @bind-Value="_forgotPassword.Email" Immediate="true" Label="Email" Variant="Variant.Outlined" Margin="Margin.Dense" For="() => _forgotPassword.Email" />
                                            @if (_errorMessage.Any())
                                            {
                                                @foreach (var message in _errorMessage)
                                                {
                                                    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Dense="true" Class="my-2">@message</MudAlert>
                                                }
                                            }
                                            <MudButton Color="Color.Primary" FullWidth="true" Variant="Variant.Filled" ButtonType="ButtonType.Submit"><MudText Typo="Typo.body2">Submit</MudText></MudButton>
                                        </EditForm>
                                        <MudItem Class="pt-2">
                                            <MudLink Underline="Underline.None" Href="/login">Back to login</MudLink>
                                        </MudItem>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="text-align:center;width: 100%; margin-top: 20px; color: #1f1c2b" class="">PustCSE v.0.1.0, Copyright Ⓒ 2023</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ForgotPasswordRequest _forgotPassword { get; set; } = new();

    private List<string> _errorMessage { get; set; } = new();

    public async Task Submit()
    {
        try
        {
            var response = await _authService.ForgotPassword(_forgotPassword);
            
            if (response.IsSuccess)
            {
                _errorMessage.Clear();
                _snackbar.Add(response.Message, Severity.Success);
            }
            else
            {
                _errorMessage = response.Message?.Split("/n").ToList();
            }
        }
        catch (Exception ex)
        {
            _snackbar.Add(ex.Message, Severity.Error);
        }
    }
}
